.featured {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 10%;
  grid-gap: 10px;
}

.featured-box:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.featured-item img {
  width: 100%;
  height: 100%;
}
